{% extends 'base2.html' %}


{% block content %}
{% load widget_tweaks %}
{% load static %}
<script type="text/javascript">
            

    $(document).ready(function(){
        $('.jspContainer').jScrollPane();
    });
    
            </script>
<div class="trevillion_msg-page-content">
    <div class="trevillion_msg-page-content-body">
        <div class="trevillion_msg-messenger">
            <div class="trevillion_msg-discussions">
                <div class="trevillion_msg-search">
                    <div class="input-icon icon-right icon icon-lg icon-color-primary">
                        <input id="input-group-icon-text" type="text" class="form-control" placeholder="Search">
                        <span class="icon-addon">
                <span class="la la-search"></span>
                        </span>
                    </div>
                </div>
                <div class="trevillion_msg-body trevillion_msg-scrollable jspScrollable" data-auto-height="" style="height: 400px; overflow-y: auto; padding: 0px; width: 339px;" tabindex="0">

                    <div class="jspContainer" style="width: 339px; height: 550px;">
                        <div class="jspPane" style="padding: 0px; top: 0px; width: 329px;">
                            <ul class="trevillion_msg-items">
                                <li class="trevillion_msg-item trevillion_msg-active">
                                    <a href="#">
                                        <span class="trevillion_msg-group-amount">3</span>
                                        <div class="trevillion_msg-body">
                                            <div class="trevillion_msg-name">
                                                Group Chat
                                                <span class="trevillion_msg-datetime">just now</span>
                                            </div>
                                            <div class="trevillion_msg-message">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="18" height="18" class="rounded-circle"> The weird future of movie theater food
                                            </div>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="jspVerticalBar">
                            <div class="jspCap jspCapTop"></div>
                            <div class="jspTrack" style="height: 550px;">
                                <div class="jspDrag" style="height: 261px;">
                                    <div class="jspDragTop"></div>
                                    <div class="jspDragBottom"></div>
                                </div>
                            </div>
                            <div class="jspCap jspCapBottom"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="trevillion_msg-messages trevillion_msg-messenger__messages">
                <div class="trevillion_msg-header">
                    <div class="trevillion_msg-description">
                        <div class="trevillion_msg-name">Chat name</div>
                        <div class="trevillion_msg-amount">2 members</div>
                    </div>
                    
                </div>
                <div class="trevillion_msg-body trevillion_msg-scrollable jspScrollable" data-auto-height="" data-reduce-height=".trevillion_msg-footer" data-fix-height="32" style="height: 480px; overflow: hidden; padding: 0px; width: 701px;" tabindex="0">
                    <div class="jspContainer" style="width: 701px; height: 481px;">
                        <div class="jspPane" style="padding: 0px; top: 0px; width: 691px;">
                            <ul class="trevillion_msg-items">
                                <li class="trevillion_msg-item trevillion_msg-self">
                                    <span class="trevillion_msg-avatar trevillion_msg-offline">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="36" height="36" class="rounded-circle">
                                    </span>
                                    <div class="trevillion_msg-body">
                                        <div class="trevillion_msg-header">
                                            <span class="trevillion_msg-name">Brian Diaz</span>
                                            <span class="trevillion_msg-datetime">6:46 PM</span>
                                        </div>
                                        <div class="trevillion_msg-message">The weird future of movie theater food</div>
                                    </div>
                                </li>
                               
                                <li class="trevillion_msg-item trevillion_msg-from trevillion_msg-unread">
                                    <span class="trevillion_msg-avatar trevillion_msg-online">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" width="36" height="36" class="rounded-circle">
                                    </span>
                                    <div class="trevillion_msg-body">
                                        <div class="trevillion_msg-header">
                                            <span class="trevillion_msg-name">Brian Diaz</span>
                                            <span class="trevillion_msg-datetime">1 minute ago</span>
                                        </div>
                                        <div class="trevillion_msg-message">
                                            The weird future of movie theater food

                                            <ul class="trevillion_msg-files">
                                                <li class="trevillion_msg-file">
                                                    <a href="#">
                                                        <span class="trevillion_msg-thumb">
                                                            <span class="trevillion_msg-icon la la-file-word-o text-info"></span>
                                                        </span>
                                                        
                                                    </a>
                                                </li>
                                                <li class="trevillion_msg-file">
                                                    <a href="#">
                                                        <span class="trevillion_msg-thumb">
                                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="36" height="36">
                                                        </span>
                                                        
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="trevillion_msg-separator">Today</li>

                                <li class="trevillion_msg-item trevillion_msg-self">
                                    <span class="trevillion_msg-avatar trevillion_msg-offline">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" width="36" height="36" class="rounded-circle">
                                    </span>
                                    <div class="trevillion_msg-body">
                                        <div class="trevillion_msg-header">
                                            <span class="trevillion_msg-name">Brian Diaz</span>
                                            <span class="trevillion_msg-datetime">6:46 PM</span>
                                        </div>
                                        <div class="trevillion_msg-message">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="jspVerticalBar">
                            <div class="jspCap jspCapTop"></div>
                            <div class="jspTrack" style="height: 481px;">
                                <div class="jspDrag" style="height: 206px;">
                                    <div class="jspDragTop"></div>
                                    <div class="jspDragBottom"></div>
                                </div>
                            </div>
                            <div class="jspCap jspCapBottom"></div>
                        </div>
                    </div>
                </div>
                <div class="trevillion_msg-footer">
                    <textarea class="form-control" placeholder="Type something..."></textarea>
                    <div class="trevillion_msg-controls">
                        <button class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>


{% endblock %}